
main {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    background-color: rgb(0, 106, 133);
}
header {
    font-size: 30px;
}

header {
    background-color: rgb(56, 56, 56);
   color: ivory;
   padding: 15px;
   margin: 35px;
   text-align: center;
   height: 200px;
   
}
   header ul li {
      
       display:inline;
       padding: 75px;
      line-height: 200px;
       margin: 10px;
       text-align:center;
       
       clear: both;
   

   }
   
  main {
       width:100%;
       margin: 35px;
   }  

   body > main > h4 > img {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
       width: 1500px;
   }

   button{
       display: block;
       width: 116px;
       height: 36px;
       margin-left: 20px;
       color: white;
       background-color: black;}
       main section p{
       overflow: scroll;
       max-height: 330px;
       }
       button:hover {
       background-color:rgb(170, 87, 87);
       animation-duration: 350ms;
       }

   h4 {
       width:100%;
       float: inline-end;
   }

   div.column :left{
       float: left;
       width: 50%;
      
     }
     div.column :right{
       float: right;
       width: 50%;
      
     }

     section {
       width:100%;
       margin: 35px;
       padding: 30px;
     }
   
     div .center {margin: 35px;
       text-align: center;}
   
   main .center {
       margin: 35px;
       text-align: center;}
       
footer{
   clear: both;
  height: 200px;
   background-color: rgb(56, 56, 56);
   margin: 35px;
   }

   body > main > section:nth-child(2) > img {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
       width: 400px;
   }
   #section2 {
       
       display:inline-block;
       width: 50%;
   }

   body > main > section:nth-child(2) > img {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 70%;
       font: inherit;
       vertical-align:unset;
       width: 500px;
       height: 500px;
       margin-top: 20px;
       padding-left: 0px;
   }
   
   body > main > section:nth-child(2) > img {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
       width: 500px;
       height: 500px;
       border-left-width: 20px;
       padding-left: 20px;
   }

   body > main > section:nth-child(2) > img 
   {

       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
       width: 500px;
       height: 500px;
       margin-top: 20px;
       padding-left: 20px;
   }

   #section2 > button  {    display: block;
       width: 116px;
       height: 36px;
       margin-left: 20px;
       color: white;
       background-color: black;
       margin-top: 30px;}